<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Website Landing Page Design</title>
    <link rel="stylesheet" href="../static/Leading_Page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
     <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  </head>
  <body>

    <section>
      <header>
        <h2><img src="../static/images/Logo Final - LOGIC-09 1.png"></h2>
        <div class="navigation">
          <a href="#">SERVIÇOS</a>
          <a href="#">PRODUTOS</a>
          <a href="#">SOBRE NÓS</a>
          <a href="#">CONTATO</a>
          <button class="botao-redondo">LOGIN</button>
        </div>
      </header>
      <div class="content">
        <div class="info">

            <div class="container">
            <img src="../static/images/Frame.png" class="imagem-lado-a-lado">
                <img src="../static/images/Muitos benefícios para sua empresa!.png" class="imagem-lado-a-lado-imagem-grande">
           </div>


<!--          <h2><img src="../static/images/Frame.png"></h2>-->
<!--          <img src="../static/images/Muitos benefícios para sua empresa!.png">-->
<!--          <h2>Like Nature <br><span>Be Creative!</span></h2>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
<!--          <a href="#" class="info-btn">More Info</a>-->
        </div>
      </div>
<!--      <div class="media-icons">-->
<!--        <a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--        <a href="#"><i class="fab fa-twitter"></i></a>-->
<!--        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--      </div>-->
    </section>

  </body>
</html>
